body {
    background-image: url('Bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;

}

:root {
    --gold: #ead7a4;
    --gold-hover: #d6c189;
    --gold-light: #fde68a;
}

html {
    scroll-behavior: smooth;
}

/* Wavy underline hover animation */
.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, gold, black, gold);
    background-size: 200% 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    animation: waveMove 1.2s linear infinite;
}

@keyframes waveMove {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 0%;
    }
}